<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.ican" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ICanMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HymnActivity"
            android:label="@string/title_activity_hymn" >
        </activity>
        <activity
            android:name=".images.ImagesActivity"
            android:label="@string/title_activity_images" >
        </activity>
        <activity
            android:name=".provinces.alberta.AlbertaActivity"
            android:label="@string/title_activity_alberta" >
        </activity>
        <activity
            android:name=".provinces.britishcolumbia.BritishColumbiaActivity"
            android:label="@string/title_activity_british_columbia" >
        </activity>
        <activity
            android:name=".provinces.manitoba.ManitobaActivity"
            android:label="@string/title_activity_manitoba" >
        </activity>
        <activity
            android:name=".provinces.ontario.OntarioActivity"
            android:label="@string/title_activity_ontario" >
        </activity>
        <activity
            android:name=".provinces.quebec.QuebecActivity"
            android:label="@string/title_activity_quebec" >
        </activity>
        <activity
            android:name=".ProvincesActivity"
            android:label="@string/title_activity_provinces" >
        </activity>
        <activity
            android:name=".provinces.saskatchewan.SaskatchewanActivity"
            android:label="@string/title_activity_saskatchewan" >
        </activity>
        <activity
            android:name=".provinces.newbrunswick.NewBrunswickActivity"
            android:label="@string/title_activity_new_brunswick" >
        </activity>
        <activity
            android:name=".provinces.novascotia.NovaScotiaActivity"
            android:label="@string/title_activity_nova_scotia" >
        </activity>
        <activity
            android:name=".provinces.princeedwardisland.PrinceEdwardIslandActivity"
            android:label="@string/title_activity_prince_edward_island" >
        </activity>
        <activity
            android:name=".provinces.newfoundlandandlabrador.NewfoundlandandLabradorActivity"
            android:label="@string/title_activity_newfoundlandand_labrador" >
        </activity>
    </application>

</manifest>
